<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.stockmanagement.center.dao.mybatis.CenterMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="entity.id" keyColumn="id">
        insert into center (name, region_id, created_at, updated_at)
        values (#{entity.name}, #{entity.regionId}, #{createdAt}, #{updatedAt})
    </insert>

    <select id="findAll">
        select id, name, region_id
        from center
    </select>

    <delete id="delete">
        delete
        from center
        where id = #{id}
    </delete>

</mapper>
