<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.stockmanagement.order.dao.mybatis.OrderMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="entity.id" keyColumn="id">
        insert into orders (order_status, total_count, center_id, employee_Id, created_at, updated_at)
        values (#{entity.orderStatus}, #{entity.totalCount}, #{entity.centerId}, #{entity.employeeId}, #{createdAt},
                #{updatedAt})
    </insert>

    <select id="findById">
        select id, order_status, total_count, center_id, employee_id
        from orders
        where id = #{id}
    </select>

    <select id="findCompletedOrdersId">
        select id
        from orders
        where order_status = 'COMPLETE'
    </select>

    <update id="update">
        update orders
        <set>
            <if test="updateParam.entity.orderStatus != null">
                order_status = #{updateParam.entity.orderStatus},
            </if>
            <if test="updateParam.entity.totalCount != null">
                total_count = #{updateParam.entity.totalCount},
            </if>
            <if test="updateParam.entity.centerId != null">
                center_id = #{updateParam.entity.centerId},
            </if>
            <if test="updateParam.entity.employeeId != null">
                employee_id = #{updateParam.entity.employeeId},
            </if>
            updated_at = #{updateParam.updatedAt}
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete
        from orders
        where id = #{id}
    </delete>
</mapper>
